server_names_hash_bucket_size 128;
underscores_in_headers on;
log_format postdata $request_body;
access_log  /dev/null;
proxy_http_version 1.1;

server {
    listen 443 ssl;
    access_log  /dev/null;

    server_name authorization.local.swedenconnect.se;

    ssl_certificate     server.crt;
    ssl_certificate_key server.key;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    location / {
            proxy_set_header x-forwarded-host "authorization.local.swedenconnect.se";
            proxy_set_header x-forwarded-port "443";
            proxy_set_header x-forwarded-proto "https";
            proxy_pass http://host.docker.internal:6000;
    }
}
server {
    listen 443 ssl;
    access_log  /dev/null;

    server_name private.local.swedenconnect.se;

    ssl_certificate     server.crt;
    ssl_certificate_key server.key;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    location / {
            proxy_set_header x-forwarded-host "private.local.swedenconnect.se";
            proxy_set_header x-forwarded-port "443";
            proxy_set_header x-forwarded-proto "https";
            proxy_pass http://host.docker.internal:6010;
    }
}
server {
    listen 443 ssl;
    access_log  /dev/null;

    server_name municipality.local.swedenconnect.se;

    ssl_certificate     server.crt;
    ssl_certificate_key server.key;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    location / {
            proxy_set_header x-forwarded-host "municipality.local.swedenconnect.se";
            proxy_set_header x-forwarded-port "443";
            proxy_set_header x-forwarded-proto "https";
            proxy_pass http://host.docker.internal:6020;
    }
}