name: Snapshot publication
on:
  push:
    tags-ignore:
      - '**'
    branches:
      - main

jobs:
  publish-snapshot-ghcr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
      - name: Install dependencies
        run: mvn clean install --no-transfer-progress
        env:
          GITHUB_TOKEN: ${{ secrets.SC_ACTION_SECRET }}
      - name: Set Maven version from tag name
        if: startsWith(github.ref, 'refs/tags/')
        env:
          TAG: ${{ github.ref_name }}
        run: |
          echo "TAG:$TAG"
          NEW_VERSION=${TAG#v}
          echo "New version is $NEW_VERSION"
          mvn versions:set-property -DgenerateBackupPoms=false -Dproperty=service-revision \
          -DnewVersion=$NEW_VERSION --no-transfer-progress
      - name: Publish image
        run: |
          DOCKER_REPO=ghcr.io mvn clean package jib:build -Ddocker.repository=ghcr.io --no-transfer-progress
        working-directory: oidf-services
        env:
          GITHUB_TOKEN: ${{ secrets.SC_ACTION_SECRET }}
