name: Snapshot publication
on:
  push:
    tags-ignore:
      - '**'
    branches:
      - main

jobs:
  publish-snapshot-ghcr:
    uses: swedenconnect/openid-federation-commons/.github/workflows/docker-ghcr-publish.yml@v0.5.9
    secrets: inherit
    with:
      service-path: oidf-services
      revision-property: service-revision