name: Versioned publication of docker image
on:
  push:
    tags:
      - 'v*'
jobs:
  ghcr-release:
    uses: swedenconnect/openid-federation-commons/.github/workflows/docker-ghcr-publish.yml@v0.5.9
    secrets: inherit
    with:
      service-path: oidf-services
      revision-property: service-revision
  finalize-release:
    uses: swedenconnect/openid-federation-commons/.github/workflows/finalize.yml@v0.5.9
    secrets: inherit
    with:
      auto-update-revision: false
      revision-property: service-revision