name: Automated review
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  prepare:
    uses: swedenconnect/openid-federation-commons/.github/workflows/reusable-review.yml@v0.5.10
    secrets: inherit
    with:
      require-gh-docker: true